#!/bin/bash
source /tools/tf_libs/tts.rc
source /tools/tts_libs/tf.v1.0.rc
if [ ! -n "$1" ] ;then
    export CUDA_VISIBLE_DEVICES=1
else
    export CUDA_VISIBLE_DEVICES=$1
fi
echo "set CUDA_VISIBLE_DEVICES=$CUDA_VISIBLE_DEVICES"
